.search-container,
.d-search-container {
  padding: 3%;
  background: #fcfcfc;
  border-radius: 16px;
}

.d-search-container {
  background: #110e18;
}

.search-bar-container,
.d-search-bar-container {
  display: flex;
  align-items: center;
  gap: 0.41vw;
  flex-direction: row;
  border-radius: 12px;
  border: none;
  padding: 0% 1% 0% 1%;
  background: #f2f2f2;
}

.d-search-bar-container {
  border: 1px solid #333337;
  background: linear-gradient(0deg, #1a1623, #1a1623);
}

.search-icons-containers {
  max-width: 20px;
  padding-left: 2%;
}

.search-icons {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.search-input,
.d-search-input {
  width: 100%;
  border: none;
  outline: none;
  background: #f2f2f2;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.195vh;
  letter-spacing: 0em;
  color: #696969;
}

.d-search-input {
  background: linear-gradient(0deg, #1a1623, #1a1623);
  color: #bebec0;
}

.searchContainers,
.d-searchContainers {
  border-radius: 12px;
  background: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.d-searchContainers {
  background: #110e18;
}

.searchBoxs,
.d-searchBoxs {
  border-radius: 12px;
  display: flex;
  gap: 8px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  background: #f2f2f2;
  width: 100%;
}

.d-searchBoxs {
  border: 1px solid #333337;
  background: #1a1623;
}

.searchIconCOntainer {
  height: 20px;
  width: 20px;
}

.searchIcon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.searchTextContainer {
}

.searchText,
.d-searchText {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  color: #696969;
}

.d-searchText {
  color: #bebec0;
}

.searchTextContainer_input {
  width: 85%;
}

.searchText_input,
.d-searchText_input {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  margin: 0;
  background: #f2f2f2;
  border: none;
  outline: none;
  color: #363636;
  width: 100%;
}

.d-searchText_input {
  background: #1a1623;
  color: #fcfcfc;
}
